
.form-container {
    max-width: 300px;
    margin: auto;
  }
  
  .label {
    display: block;
    margin-bottom: 8px;
    font-size: 16px; /* Aumenté el tamaño de la fuente para "New name" */
    font-weight: bold; /* Hice el texto más visible */
  }
  
  .input-field {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .submit-btn {
    width: 100%;
    padding: 10px;
    background-color: #4a4aee;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .submit-btn:hover {
    background-color: #6464f8;
  }
  
  
.h{
    cursor: pointer;
    color: aliceblue;
    align-items: center;
    font-size: 16px;
    text-align: center;
    border: none;
    border-radius: 4px;

}