/* ChangePassword.css */

.caja1 {
    margin: 20px; 
    border: 2px solid #ccc; 
    border-radius: 8px; 
    padding: 20px; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    margin-bottom: 15px; 
    padding: 10px; /* Ajusta el relleno interno de los campos de entrada según sea necesario */
    width: 100%; /* Haz que los campos de entrada ocupen todo el ancho de la caja */
    box-sizing: border-box; /* Incluye el relleno y el borde en el ancho total */
    border: 1px solid #ccc; /* Añade un borde a los campos de entrada */
    border-radius: 4px; 
    outline: none; /* Elimina el contorno predeterminado del input al hacer clic en él */
}

button {
    background-color: #4caf50; 
    color: white; 
    padding: 10px 15px; 
    border: none;
    border-radius: 4px; 
    cursor: pointer;
    transition: background-color 0.3s; 

    &:hover {
        background-color: #45a049; 
    }
}
