/* RegisterEmail.css */

.Caja1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
    width: 150%;
    margin: 0 auto;
    border: 2px solid #ccc;
    padding: 20px;
    background-color: rgba(7, 7, 46, 0.473);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    font-family: 'sans-serif'; /* Cambia a 'serif' si prefieres ese estilo de letra */
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

label {
    margin-top: 10px;
    color: #333;
    width: 100%; /* Ajusta el ancho según sea necesario */
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #28a745;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #218838;
}

/* Estilos específicos para NavLink */
NavLink {
    text-decoration: none;
    color: #28a745;
    margin-top: 10px;
}

NavLink:hover {
    text-decoration: underline;
}
